/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
    background-color: rgb(255, 254, 243);
    a {
        color: rgb(210, 132, 42);
    }
    p {
        word-wrap: break-word;
    }
}

// top画面
.top-contents {
    height: 100vh;

}

.top-left {
    height: 100vh;
    // background: url(/assets/pf-images/top_background.png);
    // background-size: cover;
    background: linear-gradient(to right, rgb(224, 230, 102) 80%, rgb(255, 254, 243));
}

.side-logo {
    line-height: 100vh;
    text-align: center;
    margin: auto;
}

.top-right {
    height: 100vh;
    background-color: rgb(255, 254, 243);
}

.top-text {
    height: 100vh;
    text-align: center;
    margin: auto;
}

.signin, .signup {
    width: 200px;
}

#notice {
    color: green;
}

.error-messages {
    color: red;
} 

// 左サイドバー
.left-bar{
    font-size: 1.2em;
    border-right: 1px solid rgb(216, 179, 146);
    height: 100;
}


// 右サイドバー
.right-bar{
    font-size: 1.2em;
    border-left: 1px solid rgb(216, 179, 146);
    height: 100;
}

.admin-navbar{
    font-size: 1.2em;
    border-left: 1px solid rgb(216, 179, 146);
    height: 100;
}


.random-image{
    border-radius: 10%;
}

// ユーザ詳細
.owner-profile {
    background-color: rgb(216, 179, 146);
    border-radius: 10% / 50%;
    width: 80%;
    
  .owner-image {
      .owner-photo {
          margin: 10px;
          border: 2mm solid white;
          border-radius: 50%;
      }
  }
  
}

.owner-chinchilla {
    width: 100%;
    .chinchilla-head {
        width: 100%;
    }
    
}
.owner-chinchilla-image {
    border-radius: 50%;
}

.owner-chinchilla-info {
    position: relative;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 800px;
    font-size: 16px;
    background: rgb(216, 179, 146);
    :before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid rgb(216, 179, 146);
    }
    
} 


// チンチラ詳細
.chinchilla-image {
    border-radius: 50%;
}

.chinchilla-owner-image {
    border-radius: 50%;
}



// チンチラ一覧

.index-chinchilla-card {
    background:  rgb(216, 179, 146);
    border-radius: 10%;
}

.index-chinchilla-image {
    border-radius: 10%;   
}

//チンチラ新規登録
.chinchilla-intro {
    width: 100%;
    height: 20vh;
}


// 投稿一覧

.index-post-card {
    background:  rgb(216, 179, 146);
    border-radius: 10%;
}

.index-post-image {
    border-radius: 10%;   
}

// 新規投稿

.post-body {
    width: 100%;
    height: 20vh;    
}

// 投稿詳細
.post-intro {
    font-size: 20px;
}

.post-chinchilla-image {
    border-radius: 50%;
}

.post-comment-area {
    width: 100%;
    height: 20vh;
}

.comment-owner-image {
    border-radius: 50%;
}

.comment-body {
    position: relative;
    margin: 1em 0 1em 15px;
    padding: 7px 15px;
    width: 90vh;
    font-size: 20px;
    background: rgb(193, 179, 137);
    :before {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid rgb(193, 179, 137);
    }
.comment-body-content {
    width: 100%;
}
}

// 病院投稿画面・編集画面

.post-area .hosptal-name-post, .hospital-image-post, .hospital-address-post, .hospital-rate-post, .hospital-comment-post{
    border-bottom: 1px solid gray;
}

#map {
    width: 350px;
    height: 350px;
}

.comment-area {
    width: 100%;
    height: 50px;
}


// 病院詳細画面
.hospital-detail .detail-hosptal-name, .detail-hospital-address, .detail-hospital-rate, .detail-hospital-comment{
    border-bottom: 1px solid gray;
}

#show_map {
    width: 350px;
    height: 350px;
}


// 相談一覧画面
.question-form {
    background: rgb(193, 179, 137);
    border-radius: 10%/50%;
    width: 100%;
}
.question-body {
    width: 100%;
}

.question-info {
    background: rgb(193, 179, 137);
}

.solved {
    color: rgb(232, 63, 95);
}

.unsolved {
    color: rgb(0, 104, 183);
}

// 相談詳細
.question-owner-image {
    border-radius: 50%;
}

.question-body {
    font-size: 25px;
}

