  <nav class="sticky-top d-flex flex-column mt-5 ">
    <div class="search-window">
      <label>検索</label>
      <input type="search">
    </div>
    <div class="random-post mt-3">
      <p>おすすめの投稿</p>
      <div class="d-flex flex-wrap">
        <% if @recommends %>
          <% @recommends.each do |recommend| %>
            <%= link_to post_path(recommend) do %>
              <%= attachment_image_tag recommend, :image, :fill, 100, 100, class: "random-image mt-1 mr-1" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      
    </div>
  
  </div>